/* @import 'antd/es/date-picker/style/css'; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    /* font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

}


h1 {
    font-size: 1.8em;
    /* font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    color: rgba(0, 0, 0, .7);
}



/* ***********************************************************
   LAYOUTS
   *********************************************************** */
* {
    box-sizing: border-box;
}

/*body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}

main {
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}*/
/* body{
    color
} */

#list-name{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
  
#list-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
         'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
         'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 24px;
    justify-content: center;
    border-bottom: 3px solid rgba(19, 194, 194, .6);
    margin-bottom: -35px;
}

#empty-list{
    text-align: center;
    font-size: 18px;
}

#empty-instructions{
    text-align: center;
    font-size: 18px;
}

#home-search-button{
    width: 7%;
    height: 31px;
    border: 1px solid rgba(19, 194, 194, .6);
    border-left: none;
    background: rgba(19, 194, 194, .6);
    text-align: center;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-left: 57px;
}

/* #my-shopping-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:99%;
} */

.list-img{
    max-height: 100px;
    width: auto;
    max-width: auto;
    object-fit: contain;
    position: relative;
    overflow: hidden;
}

/* .img_div{
    max-width: 100px;
    max-height: 100px;
} */

.list-prod{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
         'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
         'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 22px;
    justify-self: right;
    float: right;
    /* padding-left: 650px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    width:auto;
}
/* 
.list-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

.trash{
    font-size: 32px;
    color: #f5222d;
    margin-right: .5em;
}

.trash i:hover {
    cursor: pointer;
    color: #cf1322;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    margin-right: 20px;
    margin-left: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
  
.rectangle-list a{
      position: relative;
      /* display: block; */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: .4em .4em .4em .8em;
      *padding: .4em;
      margin: .5em 0 .5em 2.5em;
      background: white;
      border: 3px solid rgba(19, 194, 194, .6);
      border-radius: 5px;
      color: #444;
      text-decoration: none;
      transition: all .3s ease-out;
}
  
.rectangle-list a:hover{
      /* border: 3px solid #12B1B1;  */
}
  
  .rectangle-list a:before{
      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -2.5em;
      top: 50%;
      margin-top: -1em;
      background: #FC7753;
      /*background: #F05D5E;*/
      /*background: #fa8072;*/
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      font-weight: bold;
}
  
.rectangle-list a:after{
      position: absolute;
      content: '';
      border: .5em solid transparent;
      left: -1em;
      top: 50%;
      margin-top: -.5em;
      transition: all .3s ease-out;
}
  
.rectangle-list a:hover:after{
      left: -.5em;
      border-left-color: #FC7753;
}



#sign-in-div{
    margin-right: 5px;
    margin-top: 10px;
    float: right; 
}
  
#results {
    /* text-decoration: underline rgba(19, 194, 194,.6);  */
    border-bottom: 3px solid rgba(19, 194, 194, .6);
    display: inline-block;
    /* text-shadow: -1px 1px rgba(0,0,0,.3) */
    visibility: hidden;
}


.left {
    float: left;
    width: 20%;
    /* border:1px solid #CEDCEA; */
    padding: 5px;
}

.right {
    float: right;
    width: 67%;
    /* border:1px solid #CEDCEA; */
    padding: 5px;
    /* font-weight: lighter; */

}

#prod_name {
    font-size: x-large;
    font-weight: 350;
    object-fit: contain;
    position: relative;
    margin: 3px;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right p {
    padding-top: .2em;
    margin: 5px;
    color: rgba(0, 0, 0, .7)
}

.product-card {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    border: 3px solid rgba(19, 194, 194, .6);
    border-radius: 5px;
    margin: 10px;
    /* background-color: #e8e8e8; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

.product-card>div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    /* height: 100%; */
    overflow-x: hidden;
}

.product-card h3 {
    font-size: 0.95em;
    margin-bottom: 0px;
    white-space: nowrap;
    max-width: calc((100vw - 250px) / 8);
    text-overflow: ellipsis;
    overflow-x: hidden;
}


.product-card img {
    max-height: 100px;
    width: auto;
    max-width: auto;
    object-fit: contain;
    position: relative;
    overflow: hidden;
}

.product-card .footer {
    display: flex;
    flex-direction: column;
}

.product-card .play-button {
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 18px;
    background: #1cb954;
    width: 36px;
    height: 36px;
    line-height: 30px;
    align-items: center;
    padding-left: 2px;
}

.modal-body {
    margin: auto;
    /* max-width: 450px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* button{
    padding: 1em;
} */
/*.wrap {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 45%;
    padding: 0;
    transform: translate(-50%, -50%);
    float: left;
}*/

.wrap {
    width: 50%;
    position: absolute;
    top: 300px;
    left: 25%;
    z-index: -1;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

#bg-img{
    opacity: 0.7;
    position: fixed;
}

.search-terms {
    width: 72%;
    border: 3px solid rgba(19, 194, 194, .6);
    /* border-right: 1px; */
    /* border-bottom: 1px; */
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 3px;
    padding-right: 0;
    height: 31px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: rgba(0, 0, 0, .8);
    font-size: 17px;
    margin: 0;
}

.searchTerm:focus {
    color: black;
}

.account-buttons{
    float: right;
    padding: 5px;
}

.login-button{
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
}

.signup-button{
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

.go {
    width: 7%;
    height: 31px;
    border: 1px solid rgba(19, 194, 194, .6);
    border-left: none;
    background: rgba(19, 194, 194, .6);
    text-align: center;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.add {
    width: 40%;
    height: 40px;
    border: 1px solid rgba(19, 194, 194, .6);
    border-left: none;
    background: rgba(19, 194, 194, .6);
    text-align: center;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-top: 10px;
}

i {
    padding: 0;
    margin: 0;
}


.select-css {
    /* display: block; */
    font-size: 16px;
    /* font-family: sans-serif;
	font-weight: 700; */
    color: rgba(0, 0, 0, .8);
    /* line-height: 1.3; */
    height: 27px;
    /* padding: .6em 1.4em .5em .8em; */
    width: 17%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    margin-left: 4px;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 5px;
    box-shadow: 0 0 1px 3px rgba(19, 194, 194, .6);
    margin-right: 3px;
}

.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border-color: #888;
}

.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(19, 194, 194, .6);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.select-css option {
    font-weight: normal;
}

#header {
    position: fixed;
    z-index: 10;
    max-width: 100%;
    background:rgba(255,255,255,0);
    background: white;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    top: 0%;
    height: 50px;
    /* margin-top: 0; */
    /* padding-top: 0px; */
    width: 100%;
}

/* #name_div{
    width: 24%;
    height: 75%;
    /* border-color: black;
    border-right: black;
    border: 2px solid rgba(0,0,0,.6);
    border-left: none;
    border-top: none;
    border-bottom: none;

} */

#name_div{
    float: left;
}

#name {
    padding-left: .8em;
    padding-top: .4em;
    margin: 0;
    font-size: x-large;
    font-weight: 300;
    cursor: pointer;
}

body {
    margin: 0;
}

#product-section {
    padding-top: 48px;
    padding-right: 48px;
    padding-left: 48px;
}

.product-card:hover {
    /* background-color: #fafafa; */
    border-color: #08979c;
    cursor: pointer;
}


.numberCircle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    /* border: 2px solid #666;
    color: #666; */
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
}

#hover_text{
    display: none;
    transition: .5s ease;
    /* opacity: 0; */
    position: absolute;
    bottom: 65%;
    right: 10%;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    text-align: center;
    background-color: rgba(100, 100, 100, 0.9);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    max-width: 600px;
    border-radius: 5px 5px 5px 5px;;
}

.numberCircle0 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #f5222d;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #f5222d;
}

.numberCircle1 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #f5222d;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #f5222d;
}

.numberCircle2 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #f5222d;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #f5222d;
}

.numberCircle3 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #fa8c16;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #fa8c16
}

.numberCircle4 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #fa8c16;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #fa8c16;
}

.numberCircle5 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #fa8c16;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #fa8c16;
}

.numberCircle6 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #ffec3d;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #fadb14;
}

.numberCircle7 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #fadb14;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #fadb14;
}

.numberCircle8 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #fadb14;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #fadb14;
}

.numberCircle9 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #a0d911;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #a0d911;
}

.numberCircle10 {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;
    /* padding-bottom: 20px; */
    /* padding-top:10px; */

    background: #fff;
    border: 2px solid #a0d911;
    color: white;
    text-align: center;

    font-size: 40px;

    margin-top: 40px;
    margin-bottom: 40px;
    background: #a0d911;
}

.numberCircle:hover + #hover_text{
    display: inline;
    position: absolute;
}

/* The Modal (background) */
.modal {
    text-overflow: ellipsis;
    line-height: 24px;
    padding: 10%;
    text-align: center;
    align-items: center;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
}

.break {
    flex-basis: 100%;
    height: 0;
  }

.reviews h2{
    color: rgba(0, 0, 0, .8);
    font-size: 20px;
    text-align: left;
    margin: .5em;
}

.modal .review-card {
    line-height: 20px;
    text-align: left;
    color: rgba(0, 0, 0, .8);
    margin: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: solid rgba(0, 0, 0, .7);
    border-width: .04em;
}

label{
    font-size: 16px;
    padding-bottom: 1em;
}

ul{
    padding-inline-start: 0;
    margin: .2em;
}

.modal .name {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-left: .7em;
}

.modal .name span{
    font-weight: bolder;
    text-transform: capitalize;
}

.modal .recommended {
    font-weight: 400;
    font-size: .9em;
    margin-bottom: .4em;
    margin-top: 0;
    /* margin-left: .7em; */
    margin-right: 2em;
}

.modal .review_text{
    margin-bottom: .4em;
    margin-left: .7em;
    font-size: .9em;
}

#related {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* font-weight: lighter; */
    align-items: center; 
    font-size: 14px;
    line-height: 1.2em;
}

/* #related_products{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: lighter;
    align-items: center;
} */

#related h4{
    font-weight: 400;
    font-size: 22px;
}

#related div{
    margin: .7em;
}

.review_form {
    margin-top: 50px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    /* align-items: center; */
    text-align: left;
    color: rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 5px 5px 5px 5px;
}

.review_form input{
    outline: 0;
    background:white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#yes_no{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

#yes_no input{
    margin: .5em;
    margin-top: .3em;
    margin-bottom: 0;
    max-width: 20px;
}

#yes_no button{
    /* justify-self: flex-end; */
    margin-left: 18em;
}

.signup-form input{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.loginModal-content button {
    text-transform: uppercase;
    outline: 0;
    background: rgba(19, 194, 194, .6);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .signupModal-content button {
    text-transform: uppercase;
    outline: 0;
    background: rgba(19, 194, 194, .6);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }


.signup-title{
    margin-left: 10px;
}

.login-title{
    margin-left: 20px; 
}

.modal-content .rate {
    width: 18%;
    height: 31px;
    border: 1px solid rgba(19, 194, 194, .6);
    border-left: none;
    background: rgba(19, 194, 194, .6);
    text-align: center;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.loginModal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    align-items: left;
    text-align: left;
    /* Could be more or less, depending on screen size */
}

.signupModal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    align-items: left;
    text-align: left;
    /* Could be more or less, depending on screen size */
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal_overall{
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, .7);
}

#basic_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* grid-area: basic; */
}

#prod_stuff{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    /* padding: 1em; */
}

#prod_stuff div h4{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    color: rgba(0, 0, 0, .8);
}

#rating_info h3{
    color: rgba(0, 0, 0, .8);
    margin-top: .25em;
    margin-bottom: 0em;
    font-size: 18px;
}


.modal-body h4{
    color: rgba(0, 0, 0, .8);
    margin-top: .25em;
    margin-bottom: .25em;
}


.modal-img{
    /* grid-area: photo; */
}

#product_about{
    /* grid-area: about; */
}
/*
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  /* .sticky + .product-section {
    padding-top: 102px;
  } */

a {
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    #header {
        height: 15%;
        width: 100%;
    }

    #name {
        visibility: hidden;
    }

    .wrap {
        width: 99%;
        left: 50%;
        height: 60%;
    }

    #results {
        margin-top: 17vh;
    }

    .search-terms {
        height: 100%;
        font-size: 48px;
        width: 79%;
        margin: 0;
        padding-left: .5em;
    }

    .go {
        height: 100%;
        width: 20%;
        font-size: 48px;
        margin: 0;
    }

    .select-css {
        height: 45%;
        font-size: 48px;
        width: 99%;
        margin: .2em;
        padding-left: .5em;
    }

    #product-section {
        font-size: 48px;
        padding: 1px;
    }

    .product-card {
        height: auto;
        min-height: 300px;
        width: 100%;
        padding: 0;
    }

    .left {
        height: 100%;
        width: 30%;
    }

    .product-card img {
        height: 100%;
        width: auto;
        max-height: none;
        max-width: 100%;
        object-fit: contain;
        position: relative;
        overflow: hidden;
    }

    #prod_name {
        font-size: 48px;
    }

    .right p {
        font-size: 42px;
        color: rgba(0, 0, 0, .5);
    }

    .numberCircle {
        width: 150px;
        height: 150px;
        margin-left: 0px;
        margin-right: 40px;
        font-size: 100px;
    }
}

/* .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }

  .stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
  }

  .stars-inner {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  } */

/* .wtrButtonContainer .ratingStars .stars {
    color: #aaa;
    overflow: hidden;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.stars {
    color: #aaa;
    width: 75px;
    white-space: nowrap;
    display: inline-block;
}

.wtrButtonContainer .ratingStars {
    text-align: center;
}

.wtrButtonContainer .wtrRating {
    clear: both;
    color: #f2f2f2;
    font-size: 85%;
} */

.fa-star:before {
    content: "\f005";
}

.rating-list li i.yellow {
    color: #FFD700;
}

.rating-list li i.gray {
    color: #bbb;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.rating-list li {
    padding: 0px;
}

.fa {
    align-items: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/*#navigation{
    justify-content: right;
    align-items: right;
}*/


#navigation .pwrap {
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    float: right;
}

#bottom-navigation .pwrap{
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    float: center;
}

.pagination {
    display: inline-block;
}

.pagination:hover {
    cursor:pointer;
}

.pagination a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:active {
    background-color: orange;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.overlay {
    position: fixed;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

.popup {
    margin: 70px auto;
    padding: 20px;
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    width: 30%;
    position: relative;
    color: white;
    /* transition: all 5s ease-in-out; */
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }  
  	
  .signin {	
    display: flex;	
    flex-direction: row;	
    text-align: center;	
    justify-content: space-around;	
    margin: 1em; 	
    align-content: center;	
    /* background-color: rgba(0,0,0,.6); */	
    /* width: 100vw;	
    height: 100vh; */	
  }	
  .login_form{	
    margin: 2em;	
    width: 40vw;	
    height: 25vh;	
    /* background-color: #888; */	
    align-content: center;	
    border: 5px solid rgba(19, 194, 194, .6);	
    border-radius: 5px;	
  }	
 .login_box{	
    width: 72%;	
    border: 3px solid rgba(19, 194, 194, .6);	
    /* border-right: 1px; */	
    /* border-bottom: 1px; */	
    padding-top: 8px;	
    padding-bottom: 9px;	
    padding-left: 3px;	
    padding-right: 0;	
    height: 31px;	
    border-radius: 5px 5px 5px 5px;	
    outline: none;	
    color: rgba(0, 0, 0, .8);	
    font-size: 17px;	
    margin: 0;   	
 }	
 .login_butts{	
    /* width: 7%; */	
    /* height: 31px; */	
    border: 1px solid rgba(19, 194, 194, .6);	
    border-left: none;	
    background: rgba(19, 194, 194, .6);	
    text-align: center;	
    color: white;	
    border-radius: 5px 5px 5px 5px;	
    cursor: pointer;	
    font-size: 18px;	
    padding-top: 2px;	
    padding-bottom: 5px;	
    padding-left: 1em;	
    padding-right: 1em;	
    margin: 0;	
 }	
 #home-search-button{	
    margin: .5em;	
     /* left: 100%; */	
    margin-left: 2em;	
    width: 10%;	
    text-align: left;	
    padding-left: 1em;	
 }

